<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <style>
        /* Garantir que o footer fique sempre no fundo */
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
    </style>
</head>
<body>
    <header class="bg-gray-500 text-white">
        <div class="container mx-auto flex justify-between items-center p-4">
            <!-- Logo -->
             <a href="{{ url_for('home') }}">
                <div id="logo" href="/" class="w-24 h-24">
                    <img src="{{ url_for('static', filename='images/fic_logistic_logo.png') }}" alt="logo">
                </div>
            </a>
        </div>
    </header>

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-500 text-white text-center py-4">
        <div class="container mx-auto">
            <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
